@media (max-width: 600px) {
    .tabby .nav{
        padding: 9px;
        justify-content: center;
    }
    .tabby .nav .nav-link{
        text-align: right;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border: 3px solid #2f5bea57;
        display: block;
        margin-bottom: .625em;
        border-radius: 13px;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: left;
        padding: 6px 20px !important;
    }
    table td::before {
        content: attr(data-label);
        float: right;
        font-weight: bold;
        text-transform: uppercase;
    }
    .statuses .titles{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .statuses .titles .attrs .item{
        width: 100%;
        margin-bottom: 0;
        margin-top: 0;
    }
    .modal-container{
        width: 352px;
    }
    .infos p{
        font-size: 13px;
    }
    .tabby .nav .nav-link{
        font-size: 14px;
    }
    .statuses .titles .attrs{
        width: 50%;
    }
    .attrs .item .icon{
        left: -3px;
        top: -2px;
    }
    .content__card__head a{
        margin-top: 20px;
    }
}
